{% capture categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign category = categories | split:',' | sort %}
<div class="category-box">
    <ul>
      {% for item in (0..site.categories.size) %}{% unless forloop.last %}
        {% capture word %}{{ category[item] | slugize }}{% endcapture %}
          <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
            <a href="/categories/#{{word}}" itemprop="url" rel="index">
              <span itemprop="name">{{ word }}</span>
            </a>
          </span>
      {% endunless %}{% endfor %}
    </ul>
</div>
