<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  <div class="container-fluid">
    <div class="headband"></div>
    <div class="row">
      <header class="col-md-4">
        <nav class="site-nav">
          <ul id="menu" class="menu">
            <li class="menu-item menu-item-home">
              <a href="/" rel="section">
                <i class="menu-item-icon fa fa-fw fa-home"></i> 首页
              </a>
            </li>
            <li class="menu-item menu-item-categories">
              <a href="/categories" rel="section">
                <i class="menu-item-icon fa fa-fw fa-th"></i> 分类
              </a>
            </li>
            <li class="menu-item menu-item-tags menu-item-active">
              <a href="/tags" rel="section">
                <i class="menu-item-icon fa fa-fw fa-tags"></i> 标签
              </a>
            </li>
            <li class="menu-item menu-item-archives">
              <a href="/archives" rel="section">
                <i class="menu-item-icon fa fa-fw fa-archive"></i> 归档
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="col-sm-12 col-md-8">
        {{ content }}
       </div>
    </div>
  </div>

  <hr/>
  {% include footer.html %}

  <a id="goToTop" href="#">
    <i class="fa fa-chevron-up fa-3x"></i>
  </a>
</body>

<script src="{{ site.baseurl }}/assets/js/jquery-1.11.2.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/nprogress.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js" ></script>
</html>
